*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background-color: #dcdcdc;
    font-family: 'Roboto', sans-serif;    
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: grey;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: inset 5px 5px 12px #dcdcdc, 5px 5px 12px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(4, 70px);  
}
input{
    grid-column: span 4;
    height: 50px;
    width: 250px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #555;
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 50px;
    width: 50px;
    background-color: #dcdcdc;
    box-shadow: 5px 5px 12px #dcdcdc, 5px 5px 12px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 16px;
    margin: 10px;
}
.equals{
    width: 120px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 30px;
    background-color: aqua;
}